.searchresult{
    width: 100vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar_1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
}

.searchBar_1 input{
    width: 75vw;
    height: 30px;
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
    color:rgba(0,0,0,0.6);
    font-style: italic;
}
.searchBar_1 img{
    width: 30px;
    margin-left: -60px;
}

.searchterm{
    width: 75vw;
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
    font-weight: 800;
}
.searchresult_all{
    width: 75vw;
    margin-top: 10px;
}
.searchresult_each{
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 35px;
    text-align: left;
    font-size: 15px;
}
.search_tag{
    background-color: antiquewhite;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-left: 3px;
    margin-right: 3px;
}

.search_from_edu{
    background-color: rgb(244,209,8);
}
.search_from_field{
    background-color: rgb(225, 195, 249);
}
.search_to_edu{
    background-color: rgb(244, 208, 209);
}
.search_to_field{
    background-color: rgb(249, 243, 185);
}
.search_ethnicity{
    background-color: rgb(156, 178, 233);
}
.search_gender{
    background-color:rgb(231, 146, 147) ;
}
.search_sop{
    background-color: rgb(215, 240, 234);
}
.search_cv{
    background-color: rgb(219, 229, 241);
}