.result_section{
    width: 60vw;
    border: 1px solid rgba(0,0,0,0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.result_section h3{
    text-align: left;
    font-size: 26px;
    padding-left: 15px;
}


/* APP RESULT */
.app_results_header{
    text-align: left;
    font-size: 15px;
    
}
.app_results_header p{
    padding-left: 15px;
    font-style: italic;
}
.app_results .tags {
    text-align: left;
}
.app_results .tags .uni{
    text-align: left;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-left: 8px;
    margin-top: 10px;
    color: #575757;
}

.app_results .tags .status_accepted{
    background-color: #B1D7B4;
}
.app_results .tags .status_rejected{
    background-color: #FF9494;
}
.app_results .tags .status_waitlisted{
    background-color: #ECC5FB;
}
.app_results .tags .uni .hover{
    display: none;
}
.app_results .tags .uni:hover .hover{
    display: inline-block;
}
.app_results .hover_lab{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}
.app_results .hover_funding{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.app_results  .hover span{
    padding: 4px;
    margin-left: 5px;
}

#result_status_indi{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.app_results .status{
    width: 15vw;
    position: relative;
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
}
.app_results .circle{
    display:inline-block;
    width: 20px;
    height:20px;
    border-radius: 100%;
    margin-right: 10px;
}
.app_results .accept .circle{
    background-color: #B1D7B4;
}
.app_results .waitlisted .circle{
    background-color: #ECC5FB;
}
.app_results .rejected .circle{
    background-color: #FF9494;
}
.result_text{
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.result_text section{
    width:28vw;
    padding: 10px;
    margin-left: 5px;
}
.result_text section span{
    opacity: 0.8;
}
.result_rec{
    margin-left: 15px;
}

/* COLORS */
.app_results, .About{
    box-shadow: -10px 10px 10px #FDE6AB;
}
.result_underg, .personal_info{
    box-shadow: -10px 10px 10px #FFD1D1;
}
.result_grad{
    box-shadow: -10px 10px 10px #B9D7EA;
}
.result_rec_whole{
    box-shadow: -10px 10px 10px #CDF0EA;
}
.demographic{
    box-shadow: -10px 10px 10px #ECC5FB;
}

.geninfo #info_id{
    font-weight: 800;
    font-size: 22px;
    cursor: pointer;
}
.geninfo #info_pronoun{
    font-style: italic;
}
.geninfo .contacts{
    margin-top: 50px;
}
.geninfo .contacts a{
    color: black;
}

.geninfo .downloads{
    margin-top: 50px;
}
.geninfo .downloads p{
    padding: 10px;
    display: block;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    cursor: pointer;
}
.result_whole{
    display: flex;
    height:105vh;
    overflow-y:scroll;
    overflow-x:hidden;
}
.result_whole .left{
    position: fixed;
    width: 20vw;
    background-color: rgb(240, 240, 240);
    margin-left: 5vw;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: left;
}
.result_whole .right{
    width: 72vw;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 34vw;
    margin-bottom:10px;
}
.submitted{
    margin-top: 50px;
}
.desc{
    margin-left: 15px;
}
.footer{
    margin-top: 20px;
}
