.profile_section_all h4{
    margin-top: -10px;
    font-size: 30px;
    font-weight: 800;
}

.profile_section{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    padding-top: 10px;
    padding-left: 100px;
    align-items: center;
    font-size: 16px;
}

.profile_section label{
    width: 410px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.profile_section label *{
    text-align: left;
    display: block;
}

.profile_section label input{
    height: 20px;
    width: 360px;
}

.profile_section label textarea{
    height: 50px;
    width: 360px;
}

.profile_section label select{
    height: 20px;
    width: 360px;
}