.navbar_whole{
    width: 100vw;
}
.upper{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgba(46,180,236, 0.05);
}
.upper img{
    width: 150px;
    cursor: pointer;
}
.upper p{
    font-size: 15px;
}
.bottom{
    width: 100vw;
    display: flex;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 15px;
    font-style: italic;
    justify-content: center;
}
.bottom span{
    width: 160px;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
    border-bottom: none;
}
.bottom span~span{
    margin-left: 3vw;
}
.bottom span:hover{
    position: relative;
    color:black;
    border-bottom: 1px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
}
.loggedin{
    width: 17vw !important;
    text-align: center;
}
.loggedin:hover, .username_actual:hover{
    border-bottom: none !important;
}
.username_actual{
    margin-left: 1.2vw !important;
    color: rgb(5, 101, 143) !important;
    font-weight: 1000 !important;

}