@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile_all_with{
    width: 100vw;
    height: 100vh;
}

.profile_gallery_main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_main_title{
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: 100;
    color:rgba(0,0,0,0.8);
    text-align: center;
    
}
.text{
    position: relative;
    font-size: 80px;
    margin-top: -30px;
    background-image: radial-gradient( #92B4EC, #E2CC88);
    background-clip: text;
    color: transparent;
    text-align: center;
}
.searchBar *{
    width: 80vw;
    height: 30px;
    padding: 15px;
    border-radius: 40px;
    font-size: 15px;
    color:rgba(0,0,0,0.6);
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid rgba(0,0,0,0.7);
}
.want{
    width: 100vw;
    text-align: center;
    font-size: 26px;
    font-style: italic;
    margin-top: 100px;
}
.main_submit{
    width: 300px;
    text-align: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px;
    background-color: rgba(148,172,210,1);
    font-size: 25px;
    font-weight: 1000;
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    
}
.main_submit:hover{
    cursor: pointer;
}
.form_button{
    margin-top: 40px;
    margin-bottom: 60px;
}
.searchBarAll{
    width: 85vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchMethod{
    width: 80vw;
    border: none;
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 100px;
}
.searchMethod::selection{
    border: none;
    box-shadow: none;
}
*:focus {
    outline: 0;
    background: none;
}

.searchMethod option{
    display:inline;
    font-size: 20px;
    font-weight: 800;
    width: 0 !important;
    
}
.searchMethod option:focus{
    color: white;
}
.searchMethod option~option{
    margin-left: 100px;
}
.submitButton{
    width: 27px;
    margin-left: -60px;
    margin-top: 3px;  
}
.submitButton img{
    width: 35px;
    background-color: white; 
}
